@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        /*--------------------dark mode----------------------*/
        .checkbox {
            opacity: 0;
            position: absolute;
        }
        .checkbox:checked + .label .ball {
            transform: translateX(24px);
        }
        .label {
            top: 25px;
            left: 25px;
            background-color: #292c35;
            border-radius: 50px;
            height: 29px;
            width: 53px;
            padding: 5px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-content: center; 
        }
        .fa-moon {
            color: #f1c40f;
            font-size: 17px;
            text-align: center;
        }
        .fa-sun {
            color: #f39c12;
            font-size: 17px;
            text-align: center;
        }
        .ball {
            background-color: #fff;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            position: absolute;
            top:3px;
            left: 3px;

            transition: transform 0.2s linear;
            cursor: pointer;
        }
        body.dark{
/*             background-color: #292c35;
 */            background-color: #0d1117;
            color: #fff;
        }



        /*---------------------------normal mode-----------------------------*/
        body {
            padding: 10px;
            transition: background 0.2s linear;
        }
        h2 {
            text-align: center;
            font-weight: 800;
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            
            margin-top: 35px;
            margin-bottom: 25px;        
        }
        p {
            text-align: center;
            font-weight: 100;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            margin-bottom: 100px;
        }

        /*---------------------------grid----------------------------*/
        .grid {
            display: grid;
            max-width: 100%;
            width:100%;
            margin: 0 auto;
            min-height: 400px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-auto-rows: 15px;
            grid-gap: 10px;
        }

        .item {
            width: 100%;
            overflow: hidden;
            position: relative;
            cursor: pointer;
        }
        .item img {
         
            border:0;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }

        .grid .hover_effect .overlay {
            opacity: 0;
            background-color: rgba(0,0,0, 0.7);
            padding: 30px;
            position: absolute;
            top: 15px;
            bottom: 15px;
            left: 15px;
            right: 15px;
            white-space: nowrap;
            transition: .5s;
        }

        .grid .hover_effect:hover .overlay {
            opacity: 1;
        } 

        .grid .hover_effect .overlay h4 {
            color: #fff;
            position: relative;
            font-size: .875rem;
            line-height: 1.5rem;
            padding-bottom: 10px;
            letter-spacing: 0.2em;
            font-family: 'Poppins';
        }
   

        /*------------------------- script -------------------------*/
        .img-window {
            width: 100vw;
            height: 100vh;
            background-color: rgba(0,0,0, 0.94);
            position: fixed;
            top: 0;
            left: 0;

            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
            cursor: pointer;
        }

        .img-window img {
            /* width: 50vw; */
            height: 70vh;
        }
        
        .img-btn-before {
            font-family: 'Nanum Myeongjo', sans-serif;
            font-weight: 400;
            font-size: 80px;
            display: block;
/*             padding: 6px 10px;
 */         position: fixed;
            top: 45%;
            left: 10%;
            z-index: 500;
            color: #ffffff;
            cursor: pointer;
            opacity: 0.3;
        }
        .img-btn-before:hover {
            opacity: 0.7;
        }


        .img-btn-next {
            font-family: 'Nanum Myeongjo', sans-serif;
            font-weight: 400;
            font-size: 80px;
            display: block;
            /* padding: 10px 10px; */
            position: fixed;
            top: 45%;
            right: 10%;
            z-index: 500;
            color: #ffffff;
            cursor: pointer;
            opacity: 0.3;
        }
        .img-btn-next:hover {
            opacity: 0.7;
        }

